html {
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  .swiper-button-prev {
    left: 40px;
  }

  .swiper-button-next {
    right: 40px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: #d4d4d8;
  transition: color 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: white;
}

.Toastify__progress-bar {
  background: #2dd4bf;
}
